
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/css/index.css?9"> 
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/css/index2.css">

  {include file="top"}
  {include file="right"} 
  {include file="left"}
<div class="container">
<div class="index_content_center">
    <div class="center_1">
    <img src="__STATIC__/admin/index/images/20181206171359.jpg" alt="" class="center_1a">

<!--     <img src="__STATIC__/admin/index/images/20181206171360.jpg" alt="" class="center_1b">
 -->    <h3 style="margin-bottom: 0.1em;"><strong>张三</strong></h3>

    <p style="font-size: 1em;"><strong>设计部-中级设计师</strong></p>
    <button class="button1"><strong>打卡</strong></button>
    <button class="button2"><strong>补卡</strong></button>
    </div>
    <div class="center_2">
          <div class="center_2a">
              <h3>员工请假</h3>
          </div>
          <div class="cneter_2b"><h3>始 ：2017-12-2<i></i></h3></div>
          <div class="cneter_2ba"><img src="__STATIC__/admin/index/images/rili.png" alt=""></div>
          <div class="cneter_2b"><h3>至 ：2017-4-5<i></i></h3></div>
          <textarea rows="10" cols="30" placeholder="请假说明"></textarea> 
          <div class="cneter_2c"><a href="#" class="cneter_2ca">提交</a></div>
    </div>
    <div class="cneter_3" style="margin-right: 2%"><h3>打卡日历<span><i></i>2017 年 9 月<i></i></span></h3></div>
    <div class="cneter_3"><h3>考勤统计</h3></div>
    <div class="cneter_4" style="margin-right: 2%"></div>
    <div class="cneter_4" id="main"></div>
</div>   
</div>
    
<!-- 模态框结束 -->
<script type="text/javascript" src="__STATIC__/admin/index/js/index.js?126">
</script>
<script type="text/javascript" src="__STATIC__/admin/index/js/index2.js"></script>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: ''
            },
            tooltip: {},
            legend: {
                data:['正常上班']
            },
            xAxis: {
                data: ["","九月",""]
            },
            yAxis: {},
            series: [{
                name: '正常上班',
                type: 'bar',
                data: [24, 4, 1]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
         (function() {
  var changeRem = function() {
   document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth / 20 + 'px';
  };
  changeRem();
  var t;
  window.addEventListener('resize', function() {
   clearTimeout(t);
   t = setTimeout(changeRem, 300);
  }, false);
  window.addEventListener('pageshow', function(e) {
   if (e.persisted) {
    clearTimeout(t);
    t = setTimeout(changeRem, 300);
   }
  }, false);
 }());
</script>
{include file="foot"}

