{include file="top"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/css/index.css?9"> {include file="left"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/css/index2.css">
<style>

</style>
<div class="container">
	<div class="content_all">
		<div class="content_top">
			<h3>消息中心</h3>
			<div class="content1">
				<div>
				<a href="#"><img src="__STATIC__/admin/index/images/无标题0.png" alt=""></a>
				<a href="#"><img src="__STATIC__/admin/index/images/无标题1.png" alt=""></a>
				<a href="#"><img src="__STATIC__/admin/index/images/无标题2.png" alt=""></a>
				<a href="#"><img src="__STATIC__/admin/index/images/无标题3.png" alt=""></a>
				<a href="#"><img src="__STATIC__/admin/index/images/无标题4.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="content_center">
			<div class="content2">
				<h3>公司公告</h3>
				<div>
					<img src="__STATIC__/admin/index/images/1544240693(1).jpg" alt="">
					<img src="__STATIC__/admin/index/images/1544240722(1).jpg" alt="">
					<p>我校</p>
					<p>关于</p>
					<p>三天</p>
					<p>精神文明</p>
					<a href="#">查看更多</a>
				</div>
			</div>
			<div class="content3">
				<h3>公司要闻</h3>
				<div>
					<img src="__STATIC__/admin/index/images/1544240743(1).jpg" alt="">
					<br>
					<h4>丹桂飘香</h4>
					<p>舒服法第三方第三方士大夫的说法是否是DVD深V是大V</p>
					<p>士大夫的所得税大V地奇偶的机构ID减肥的佛vjdoifvdorjoi</p>
					<p>第三个是改革若干的破空辅导班不仅是改革若干的破空辅导是改革若干的破空辅导是改革若干的破空辅导包括从产品线</p>
					<a href="#">查看更多</a>
				</div>
			</div>
		</div>
		<div class="content_bottom">
			<h3>公司论坛</h3>
			<div class="content4">
				<div>
					<img src="__STATIC__/admin/index/images/1544240768(1).jpg" alt="">
					<h4>人事专区</h4>
					<p>导班不仅是改革若干</p>
					<p>导班不仅是改革若干导班不仅是改革若干</p>
				</div>
				<div>
					<img src="__STATIC__/admin/index/images/1544240795(1).jpg" alt="">
					<h4>设计专区</h4>
					<p>导班不仅是改革若干</p>
					<p>导班不仅是改革若干导班若干导班不仅是改革若干</p>
				</div>
				<div>
					<img src="__STATIC__/admin/index/images/info.jpg" alt="">
					<h4>闲事杂谈</h4>
					<p>导班不仅是改革若干</p>
					<p>导班不仅是改革若干导班不导班不仅是改革若干</p>
				</div>
			</div>
		</div>
	</div>
</div>