<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/css/index.css?9">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/css/index2.css">
<div class="page"></div>
<style>
    .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px!important;
    text-align: center;
  }
  .center_3{
    width: 80%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    float: left;
    text-align: center;
    margin-right: 1%;
    padding: 10px;
}
.center_4{
    width: 20%;
    height: 100%;
    background: #ffffff;
    float: left;
    text-align: center;
    padding: 10px;
}
.center_4 ul li{
    height: 70px;
    display: flex;
    line-height: 80px;
    margin: 3px 0;
}
.center_4 ul li .biaoti{
    background: #1570B6;
    width: 30%;
    color: #fff
}

  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  input[type=file] {
    display: none!important;
}
.f_center_1_left{float: left;}
.center_2{float: right;}
.ycshij{position: absolute !important;opacity: 1;left: 0px;top: -8px;width: 10px !important;opacity: 0; cursor: pointer;}
.laydate-day-mark {font-size: 14px;color: red}
.laydate-day-mark::after {
    background-color: transparent;
}
.xialiaobtn{padding: 8px 15px;color: #fff;background: #1570B6;margin: 2%;}
.cneter_2b .el-input__inner{color: #fff !important;}
</style>
  {include file="top"}
  {include file="right"} 
  {include file="left"}
<div class="container">
<div class="index_content_center" style="display:flex;">
    <div class="center_3" style="display:inline-block">
        <table class="table table-bordered" style="text-align: center;border-spacing:3px;border-collapse:separate; ">
            <h1>基本的表格布局</h1>
            <thead style="background-color:#1570B6;color:#fff;text-align: center; border-collapse:separate;
            border-spacing:5px">
              <tr >
                <td style="padding: 25px 0;">出库时间</td>
                <td style="padding: 25px 0;">名称</td>
                <td style="padding: 25px 0;">详情</td>
                <td style="padding: 25px 0;">单位</td>
                <td style="padding: 25px 0;">出库数量</td>
                <td style="padding: 25px 0;">备注</td>
                <td style="padding: 25px 0;">出库员</td>
              </tr>
            </thead>
            <tbody>
                <tr style="background-color:#cfd7f7">
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    
                  </tr>
                  <tr style="background-color:#e9ecfb">
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                  </tr>
                  <tr style="background-color:#cfd7f7">
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    
                  </tr>
                  <tr style="background-color:#e9ecfb">
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                  </tr>
                  <tr style="background-color:#cfd7f7">
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    
                  </tr>
                  <tr style="background-color:#e9ecfb">
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                  </tr>
                  <tr style="background-color:#cfd7f7">
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    
                  </tr>
                  <tr style="background-color:#e9ecfb">
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>Tanmay</td>
                  </tr>
            </tbody>
          </table>
          <div style="display:flex;justify-content: space-around;width: 100%;">
            <div>
                <select name="" id="">
                    <option value="2019">2019</option>
                </select>
            </div>
          <el-pagination
          background
          layout="prev, pager, next"
          :total="1000">
        </el-pagination>
        <div>
            <span class="xialiaobtn">打印</span>
            <span class="xialiaobtn">确认</span>
        </div>
            
        </div>
    </div>
    <div class="center_4">
        <h1>物品出库登记表</h1>
        <ul>
            <li><span class="biaoti">出库时间</span><span style="background:#dee8fb;flex:1"></span></li>
            <li><span class="biaoti">名称</span><span style="background:#dee8fb;flex:1"></span></li>
            <li><span class="biaoti">详情</span><span style="background:#dee8fb;flex:1"></span></li>
            <li><span class="biaoti">单位</span><span style="background:#dee8fb;flex:1"></span></li>
            <li><span class="biaoti">出库数量</span><span style="background:#dee8fb;flex:1"></span></li>
            <li><span class="biaoti">备注</span><span style="background:#dee8fb;flex:1"></span></li>
            <li><span class="biaoti">出库员</span><span style="background:#dee8fb;flex:1"></span></li>
        </ul>
        <div style="margin:20px">
            <span class="xialiaobtn">查询</span>
            <span class="xialiaobtn">出库</span>
        </div>
    </div>
</div>
    
    
  
        </div>
     
  
    
 
<script type="text/javascript" src="__STATIC__/admin/index/js/index.js?126">
</script>
<script type="text/javascript" src="__STATIC__/admin/index/js/index2.js"></script>

{include file="foot"}
<script type="text/javascript">
 






     
var mv =  new Vue({
    el: ".container",
    data: {
     
    },
    filters:{
     
    },
    created(){
        
            
        },
     mounted(){
     
     
    }, 
    methods:{
  
    }
  })

</script>



