<!DOCTYPE html>
<html>
	<head>
<script src="__STATIC__/admin/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	{include file="top"}
	{include file="left"} 
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>

	<div style="margin-left: 200px;margin-top: 20px;width: 85%;text-align: center;">
	     <div style="text-align: left;color: #666;margin:5px;">操作说明：双击删除、输入内容后点击添加</div>                                 
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					
						<th><input type="text" class="form-control" placeholder="钢种" id="gangzhong"></th>
						<th><input type="text" class="form-control" placeholder="型号" id="type"></th>
						<th><input type="text" class="form-control" placeholder="规格" id="standard"></th>
						<th style="text-align: center;">
							<button class="btn btn-info" @click='operate(0)'>搜索</button>
							<button class="btn btn-success" @click="operate(1)">添加</button>
						</th>
					
				</tr>
				<tr >
					<th style="text-align: center!important;">钢种</th>
					<th style="text-align: center!important;">型号</th>
					<th style="text-align: center!important;">规格</th>
					<th style="text-align: center!important;">数量</th>
				</tr>
			</thead>
			<tbody>
				
					<tr v-for='(val,index) in inventory' @dblclick='operate(2,index)'>
						<td>{{val.gangzhong}}</td>
						<td>{{val.type}}</td>
						<td>{{val.standard}}</td>
						<td><input type="text" v-model='val.number' style="width: 100%;height: 100%;text-align: center;"  @change='operate(3,index)'></td>
					</tr>
		
				
			</tbody>
		</table>
</div>
	</div>
	</body>
</html>
<script type="text/javascript">
	new Vue({
    el: ".table",
    data: {
     inventory:{$inventory},
   
    },
    
    created: function() {
       
    },
    methods: {
    	operate(e,i){
    		if(e==2){
    			this.$confirm('确认删除吗！',  {
		          confirmButtonText: '确定',
		          callback: action => {
		            if(action=='confirm'){
		            	$.get('{:url("admin/index/inventory")}',
	        	    	{
	        	    		select:e,
	        	    		id:this.inventory[i].id
	        	    	},(rtnData)=>{
	                     this.inventory.splice(i,1)
	        	    	
	     			});
		            }
		            // window.location.href="{:url('admin/index/index')}";
		          }

		        });
    			
    			
    		}else if(e==3){
    			$.get('{:url("admin/index/inventory")}',
	        	    	{
	        	    		select:e,
	        	    		id:this.inventory[i].id,
	        	    		number:this.inventory[i].number
	        	    	},(rtnData)=>{});
    		}else if(e==1){
    			if($('#gangzhong').val()==''){

    				this.$alert('请输入钢种');
    				return
    			}
    			if($('#type').val()==''){
    				this.$alert('请输入型号');
    				return
    			}
    			if($('#standard').val()==''){
    				this.$alert('请输入规格');
    				return
    			}
	    		$.get('{:url("admin/index/inventory")}',
	        	    	{
	        	    		select:e,
	        	    		gangzhong:$('#gangzhong').val(),
	        	    		type:$('#type').val(),
	        	    		standard:$('#standard').val()
	        	    	},(rtnData)=>{
	                     this.inventory=rtnData;
	                      this.$message({
					          message: '添加成功',
					          type: 'success'
					        });
	                      $('#standard').val('')
	                      $('#type').val('')
	                      $('#gangzhong').val('')
	                     // this.$alert('添加成功');
	        	    	
	     			});
	    		}else if(e==0){
	    			$.get('{:url("admin/index/inventory")}',
	        	    	{
	        	    		select:e,
	        	    		gangzhong:$('#gangzhong').val(),
	        	    		type:$('#type').val(),
	        	    		standard:$('#standard').val()
	        	    	},(rtnData)=>{
	                     this.inventory=rtnData;
	        	    	
	     			});
	    		}
    		}
    	},
})
</script>
<style type="text/css">
	
</style>