	<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="__STATIC__/admin/work/work.css"/>

<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	{include file="top"} 
	{include file="left"} 
	{include file="right"} 
	</head>
	<body>
	{if $user_data['user_cate']=='员工'}
	<div class="container">
		<div class="row">
			<div class=" col-md-6"> 
				<div class="week_title">本周工作</div>
				<div class="img_box" id="main" ></div>
		    </div>
		    <div class=" col-md-6">
		    	 <div class="week_title">本月汇总</div>
		    	 <div class="img_box" id="main_two" ></div>
		    </div>     
		</div>
		<div class="row">
			<div class="bottom_title ">
				<div class="title_one">工作文档</div>
				<div class="title_two">新建文档 +</div>
				<div class="title_two">本地上传 +</div>
			</div> 
			<div class="bottom_table">
				<table class="table" border="" cellspacing="" cellpadding="">
					<tr>
					  <th>全选<input type="checkbox" /></th>
					  <th>时间</th>
					  <th>主题</th>
					  <th>内容</th>
					  <th>分类</th>
					  <th>查询</th>
					  <th>操作</th>
					</tr>
					<tr><td>Data</td></tr>
				</table>
			</div>
		</div>
		
	</div>
	{/if}
	{if $user_data['user_cate']=='老板'}
	<div class="container">
		<div class="lefts">
			<div class="title">年度统计总览-点击行查看</div>
			<div class="con_bian">
			<table class="table table-striped table-bordered table-hover table-condensed" >
				<tr >
						<th style="text-align: center!important;" width="100px">姓名</th>
						<th style="text-align: center!important;">数量</th>
						<th style="text-align: center!important;">总分</th>
					</tr>
			</table>
			<div v-for='(item,index) in user_statistics' >
			<div style="cursor: pointer;" @click='btns(index)'>
				<span class="btns" v-if="item.hidden==false">+</span>
				<span class="btns " v-if="item.hidden==true">-</span>{{item.year}}年</div>
			<table class="table table-striped table-bordered table-hover table-condensed" v-if="item.hidden">
				<thead>
					
				</thead>
				<tbody>
					
						<tr v-for='(i,ind) in item.data' style="text-align: center!important;" @click='examineuser(index,ind)'>
							<td width="100px">{{i.user_name}}</td>
							<td>{{i.liang}}</td>
							<td>{{i.zong}}</td>
						</tr>
						
				</tbody>
			</table>
		</div>
			</div>
		</div>
		<div class="lefts">
			<div class="title">{{nian}}月度{{name}}</div>
			<div class="img_box" id="yuedu" style="width: 350px;height: 300px"></div>
			<div>数量总计：{{shuliang}}</div>
			<div style="height: 1px;background: #eee;margin-bottom: 5px"></div>
			<div class="img_box" id="zongfen" style="width: 350px;height: 300px"></div>
			<div>总分总计：{{fenshu}}</div>
		</div>
		<div class="lefts">
			<div class="title">{{nian}}类别{{name}}</div>
		<div class="img_box" id="mains"  style="width: 350px;height: 300px"></div>
		<div>数量总计：{{shuliang}}</div>
			<div style="height: 1px;background: #eee"></div>
		<div class="img_box" id="mains_2"  style="width: 350px;height: 300px"></div>
		<div>总分总计：{{fenshu}}</div>
	</div>
  	</div>
  	{/if}
	</body>
</html>
{if $user_data['user_cate']=='员工'}
<script type="text/javascript">
	    var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: '完成度%',
               textStyle:{fontSize:10},
               padding: [ 30,0,0,33]
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["星期一","星期二","星期三","星期四","星期五","星期六"]
            },
            yAxis: {
            	max:100
            },
            series: [{
                color:'#28d2ae',
                type: 'bar',
                data: {$week}
            }]
        };
        myChart.setOption(option);// 使用刚指定的配置项和数据显示图表。
        
        var myChart = echarts.init(document.getElementById('main_two'));
	    var   option = {
	    xAxis: {
	        type: 'category',
	        data: ['第一周', '第二周', '第三周', '第四周']
	    },
	     tooltip: {}, //提示
	    yAxis: {
	        type: 'value',
	        max:100
	    },
	    series: [{
	    	 color:'#28d2ae',
	        data: {$month},
	        type: 'line',
	        smooth: true
	    }]
	    };
       myChart.setOption(option);
</script>
{/if}
{if $user_data['user_cate']=='老板'}
<script type="text/javascript">
	
	new Vue({
    el: ".container",
    data: {
       user_statistics:{$user_statistics},
       name:'',
       nian:'',
       shuliang:0,
       fenshu:0
    },
    mounted(){
    	console.log({$user_statistics});
    	console.log(this.users)
    
    },
    methods:{
    	btns(e){
    		this.user_statistics[e].hidden= !this.user_statistics[e].hidden?true:false
    		console.log(this.user_statistics[e].hidden);
    	},
    	examineuser(i,e){
    		this.nian=this.user_statistics[i].year+'年 '
        	this.name=' '+this.user_statistics[i].data[e].user_name
    		$.get('{:url("admin/index/usertask")}',
        	    	{
        	    		year:this.user_statistics[i].year,
        	    		uid:this.user_statistics[i].data[e].id
        	    	},(rtnData)=>{
        	    		this.shuliang=0;
        	    		this.fenshu=0;
        	    		
        	    	 for (var i = 0; i < rtnData.shuliang.length; i++) {
        	    	 	this.shuliang+=rtnData.shuliang[i];
        	    		this.fenshu+=rtnData.fenshu[i];
        	    	 }
                    
        	    	 QuantityChart.setOption({
        	    	 		 series:{ data:rtnData.shuliang},
        	    	 })
        	    	 TotalbarChart.setOption({
        	    	 		 series:{data:rtnData.fenshu,},
        	    	 })
        	    	 totalChart.setOption({
        	    	 	series:[{data:rtnData.mainfenshu,}]
        	    	 })
        	    	  numberChart.setOption({
        	    	 	series:[{data:rtnData.mainshuliang,}]
        	    	 })
     			});
    	}
    },

	})

	// 数量饼图 

	var numberChart = echarts.init(document.getElementById('mains'));
 var 	option = {
    title : {
        text: '',
        subtext: '',
        x:''
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    legend: {
     
        left: 'center',
        data: {$mainclass}
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:{$main},

            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
 numberChart.setOption(option);

 // 总分饼图
	var totalChart = echarts.init(document.getElementById('mains_2'));
 var 	option = {
    title : {
        text: '',
        subtext: '',
        x:''
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    legend: {
     
        left: 'center',
        data: {$mainclass}
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:{$main},

            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
 totalChart.setOption(option);

 // 数量柱状图 
	 var QuantityChart = echarts.init(document.getElementById('yuedu'));
        var option = {
    title : {
        text: '',
        subtext: ''
    },
    tooltip : {
       
    },
    legend: {
        data:['数量',]
    },
   
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
        }
    ],
    yAxis: {
            	max:200
            },
   
    series : 
        {
            name:'数量',
            type:'bar',
            data:[],

        },
        
    
};
        QuantityChart.setOption(option);// 使用刚指定的配置项和数据显示图表。

// 总分柱状图 
	var TotalbarChart = echarts.init(document.getElementById('zongfen'));
        var option = {
            title: {
                text: '完成度%',
               textStyle:{fontSize:10},
               padding: [ 30,0,0,33]
            },
            tooltip: {},
            legend: {
                data:['总分']
            },
            xAxis: {
                data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            },
            yAxis: {
            	max:1200
            },
            series: [{
                color:'#28d2ae',
                type: 'bar',
                name:'总分',
                data:[]
            }]
        };
        TotalbarChart.setOption(option);
</script>
{/if}