{include file="top"} {include file="left"}
<div class="container" style="background: #fff">
    <h3>录入/修改公司部门</h3>
    {if $Think.session.user_cate=='老板'}
    <form action="{:url('update_bumen')}" class="form" method="post" enctype="multipart/form-data">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="success">
                <th>序号</th>
                <th>部门名称</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $info_cate}
            <tr>
                <td>{$info_cate.id}</td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" value="{$info_cate.bumen_name}" name="bumen[{$info_cate.id}]">
                    </div>
                </td>
  
            </tr>
            {/foreach}
        </tbody>
    </table>
    <div  style="">
       <div style="text-align: center;" class="form-group"><input type="submit" class="btn btn-success" style="width: 150px;float: left;margin-left: 400px"></div>
       <a href="{:url('addbumen',['id'=>$Think.session.u_belong])}" type="button" class="btn btn-primary" style="width: 150px; margin-left: 50px">增加</a>
       <a href="{:url('admin/index/index')}" type="button" class="btn btn-info" style="width: 150px; margin-left: 50px">返回</a>
    </div>
    </form>
    {$list->render()}
</div>
{/if}
{if $Think.session.user_cate!='老板'}
<div>
    您的身份为{$Think.session.user_cate},暂时无权限进行此操作
</div>
{/if}
{include file="foot"}