{include file="top"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/task/css/add.css?9">
	<div class="write_box" id="check">
		<div class="title" style="margin-bottom: 20px;">
			<a class="glyphicon glyphicon-ok">外勤工单审核</a>
			<a href="{:url('index')}" class="glyphicon glyphicon-chevron-left return">返回工作台</a>
		</div>
		{foreach $check as $check_info}
		<form action="{:url('update')}?id={$check_info.id}"  method="post" enctype="multipart/form-data">
			<div class="form-group" style="font-size: 16px;">
				{foreach $user as $userdata}
				{if $userdata.user_cate=='员工'}
				<div class="form-group">
					<label>所属公司</label>
					<div><input type="text" class="form-control" name="belong" value={$check_info.belong}></div>
				</div>
				<div class="form-group">
					<label>账号密码</label>
					<div><input type="text" class="form-control" name="password" value={$check_info.password}></div>
				</div>
				<div class="form-group">
					<label>电话号码</label>
					<div><input type="text" class="form-control" name="telephone" value={$check_info.telephone}></div>
				</div>
				<div class="form-group">
					<label>微信</label>
					<div><input type="text" class="form-control" name="weixin" value={$check_info.weixin}></div>
				</div>
				<div class="form-group">
					<label>地址</label>
					<div><input type="text" class="form-control" name="dizhi" value={$check_info.dizhi}></div>
				</div>	
				{/if}
				{if $userdata.user_cate=='老板'}
				{if $check_info.user_cate!='老板'}
				<div class="form-group">
					<label>所属部门</label>
					<div>
					<select id="selectPointOfInterest" title="Select points of interest nearby" name="bumen">
						<option selected = "selected">请选择</option>
                {foreach $bumen as $info}
                                    <option value="{$info.bumen_name}">{$info.bumen_name}</option>
                                    {/foreach}
                </div>              
            </select>
				</div>
			</div>
				<div class="form-group">
					<label>账号密码</label>
					<div><input type="text" class="form-control" name="password" value={$check_info.password}></div>
				</div>
				<div class="form-group">
					<label>电话号码</label>
					<div><input type="text" class="form-control" name="telephone" value={$check_info.telephone}></div>
				</div>
				<div class="form-group">
					<label>微信</label>
					<div><input type="text" class="form-control" name="weixin" value={$check_info.weixin}></div>
				</div>
				<div class="form-group">
					<label>地址</label>
					<div><input type="text" class="form-control" name="dizhi" value={$check_info.dizhi}></div>
				</div>
				<div class="form-group">
					<label>员工身份</label>
					<div>
					<select id="selectPointOfInterest" title="请选择部门" name="user_cate">
						<option selected = "selected">请选择</option>

                                    <option>经理</option>
                                    <option>员工</option>

                </div>              
            </select>
				</div>
				{/if}

				{if $check_info.user_cate=='老板'}	
				<div class="form-group">
					<label>账号密码</label>
					<div><input type="text" class="form-control" name="password" value={$check_info.password}></div>
				</div>
				<div class="form-group">
					<label>电话号码</label>
					<div><input type="text" class="form-control" name="telephone" value={$check_info.telephone}></div>
				</div>
				<div class="form-group">
					<label>微信</label>
					<div><input type="text" class="form-control" name="weixin" value={$check_info.weixin}></div>
				</div>
				<div class="form-group">
					<label>地址</label>
					<div><input type="text" class="form-control" name="dizhi" value={$check_info.dizhi}></div>
				</div>
				{/if}
				{/if}
				{/foreach}								
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="提交">
			</div>
		</form>
		{if $userdata.user_cate=='经理'}
		<div class="form-group">
					<label>账号密码</label>
					<div><input type="text" class="form-control" name="password" value={$check_info.password}></div>
				</div>
				<div class="form-group">
					<label>电话号码</label>
					<div><input type="text" class="form-control" name="telephone" value={$check_info.telephone}></div>
				</div>
				<div class="form-group">
					<label>微信</label>
					<div><input type="text" class="form-control" name="weixin" value={$check_info.weixin}></div>
				</div>
				<div class="form-group">
					<label>地址</label>
					<div><input type="text" class="form-control" name="dizhi" value={$check_info.dizhi}></div>
				</div>
				{/if}
		{/foreach}

	</div>

{include file="foot"}
	<script type="text/javascript">
    	$('.dropify').dropify();
   		UE.getEditor("myEditor");
	</script>