
<link rel="stylesheet" type="text/css" href=" __STATIC__/admin/iconfont_left.css"/>

<link rel="stylesheet" type="text/css" href=" __STATIC__/admin/iconfont_left_two.css"/>
<div class="left_menu lbs" id="left_menu" style="z-index: 99;">
	<ul v-if="controller!='Map'">
		<li onclick="jump()"><a href="#" class="iconfont icon-geren"><p>个人管理</p></a></li>
		<li onclick="jump_two()"><a href="#" class="iconfont icon-gongzuo" style="padding-top:-2px"><p>工作管理</p></a></li>
		<li onclick="jump_three()"><a href="#" class="iconfont icon-caiwuguanli"><p>财务管理</p></a></li>
		<li onclick="jump_four()"><a href="#" class="iconfont icon-group"><p>部门管理</p></a></li>
		<li onclick="jump_five()"><a href="#" class="iconfont icon-iconset0337"><p>信息中心</p></a></li>
	    <li onclick="jump_six()"><a href="#" class="iconfont icon-kucun"><p>钢材库存</p></a></li>
	</ul>
	<!--<ul v-if="controller=='Map'" class="Maplist">
		<li><a href="{:url('admin/map/index')}" class="glyphicon glyphicon-home"><p>工作台</p></a></li>
		<li><a href="{:url('admin/map/visit')}" class="glyphicon glyphicon-user"><p>客户拜访</p></a></li>
		<li><a href="{:url('admin/map/field')}" class="glyphicon glyphicon-inbox"><p>外勤工单</p></a></li>
		<li><a href="{:url('admin/map/business')}" class="glyphicon glyphicon-plane"><p>出差管理</p></a></li>
		<li><a href="{:url('admin/map/photo')}" class="glyphicon glyphicon-camera"><p>实景照片</p></a></li>
		<li><a href="{:url('admin/map/check')}" class="glyphicon glyphicon-map-marker"><p>轨迹查询</p></a></li>
		<li><a href="{:url('admin/map/sign')}" class="glyphicon glyphicon-star"><p>考勤</p></a></li>
		<li><a href="{:url('admin/map/set')}" class="glyphicon glyphicon-cog"><p>设置</p></a></li>
	</ul>-->
</div>
<script type="text/javascript">
 new Vue({
        el:'#left_menu',
        data:{
           controller:"Index"
        },
        created(){
        	this.init();
        },
        methods:{
        	init(){
                this.controller="{:request()->controller()}";
        	}
        }
    })
 function jump(){
 	 window.location.href='{:url('admin/index/index')}'
 }
 function jump_two(){
 	window.location.href='{:url('admin/index/work')}'
 }
 function jump_three(){
 	window.location.href='{:url('admin/index/finance')}'
 }
 function jump_four (){
 	window.location.href='{:url('admin/index/department')}'
 }
 function jump_five(){
 	window.location.href='{:url('admin/index/information')}'
 }
  function jump_six(){
 	window.location.href='{:url('admin/index/stock')}'
 }

</script>
