{include file="top"}

<link rel="stylesheet" type="text/css" href="__STATIC__/admin/task/css/index.css?3">
<div class="task">
	<div class="task_left"></div>
	<div class="task_box">
		<div class="task_title">
			<span class="glyphicon glyphicon-list-alt pull-left"></span>
			<h4>TASK员工任务管理</h4>
		</div>
		<div class="task_content">
			{foreach $user as $userdata}
			<!-- 学生身份作业管理 -->
			{if $userdata.user_cate=='员工'}
		<!-- 	<ul class="list_top">
				<li><a href="{:url('add')}"><span class="glyphicon glyphicon-pencil"></span>提交汇报</a></li>
				<li><a href="{:url('read')}"><span class="glyphicon glyphicon-pencil"></span>查看任务</a></li>
			</ul> -->
			<div class="table_box">
				<div class="Employee_box">
					<div class="Employee_left">
						<div class="add" @click='add'>+</div>
						<div class="Employee_head">工作表</div>
						<div class="wire"></div>
						<div class="Employee_footer">
							<div><span>负责人:</span><span>{$userdata.user_name}</span></div>
							<div><span>日期:</span><input type="date" v-model='DATE' @change='aa'></div>
							
						</div>

					</div>
					<div class="Employee_right">
						<div class="font">完成情况</div>
						<div class="Score"><div class="fens"><div class="se" :style="'height:'+zongshu+'%'"></div><div class="fen">{{zongshu}}分</div></div></div>
						
					</div>
					<table class="aa" style="text-align: center;" border='1px' width="1000px">
				<tr bgcolor="#31869b" align="center" style="color: #fff;font-size: 12px;">
					<th width="50px">序号</th>
					<th width="100px">主分类</th>
					<th width="100px">细分类</th>
					<th width="60px">数量/时间</th>
					<th width="200px">工作内容</th>
					<th width="50px"></th>
					<th width="50px">是否完成</th>
					<th width="150px">未完成原因</th>
					<th width="150px">备注</th>
					<th width="100px">统计分数</th>
					<th width="50px">操作</th>
				</tr>
				

				<tr :bgcolor="index%2 ==0?'':'#fff'" v-for='(item,index) in worksheet'>
					<td>
					  {{index+1}}
					</td>
					<td>
						<select :style="index%2 ==0?'background: #b7dee8;':''" v-model='item.primary' @change='zhuclassify(index)' >
					
						  <option  v-for="(i,l) in primary"  :value="i" style="text-align: center;">{{i.type}}</option>
					
					  </select>
					</td>
					<td>
						<select :style="index%2 ==0?'background: #b7dee8;':''"  v-model='item.secondary' @change='ciclassify(index)'>
					    
						  <option v-for="(c,cl) in secondary[index]" :value ="c" style="text-align: center;">{{c.type}}</option>
						 
					  </select>
					</td>
					<td quantity>
						<input type="text" :style="index%2 ==0?'background: #b7dee8;':''" v-model='item.quantity' @blur='liang(index)'>
						
						 
					</td>
					<td><input type="text" :style="index%2 ==0?'background: #b7dee8;':''" @blur='job(index)' v-model="item.job"></td>
					<td></td>
					<td>
						<select :style="index%2 ==0?'background: #b7dee8;':''" v-model='item.whether' @change='whether(index)'>
						
						  <option value ="0" >是</option>
						  <option value ="1" >否</option>
					  </select>

					</td>
					<td><input type="text" :style="index%2 ==0?'background: #b7dee8;':''" v-model='item.reasons' @blur='reasons(index)'></td>
					<td><input type="text" :style="index%2 ==0?'background: #b7dee8;':''" v-model='item.remark' @blur='remark(index)'></td>
					<td><div :style="index%2 ==0?'background: #b7dee8;':''" >{{item.score}}</td>
					<td></td>
				</tr>
				{foreach $bossfenprw as $val}
				<tr >
					<td>
					  2
					</td>
					<td>
						<select >
					
						  <option  style="text-align: center;"></option>
					
					  </select>
					</td>
					<td>
						<select  >
					    
						  <option  style="text-align: center;"></option>
						 
					  </select>
					</td>
					<td >
						<select   >
					    
						  <option  style="text-align: center;"></option>
						 
					</td>
					<td><input type="text" value="{$val.work_name}"></td>
					<td></td>
					<td>
						<select >
						
						  <option value ="0" >是</option>
						  <option value ="1" >否</option>
					  </select>

					</td>
					<td><input type="text"  ></td>
					<td><input type="text" ></td>
					<td><input type="text"  ></td>
					<td><a href="{:url('check',['id'=>$val.id])}">查看详情</a></td>
				</tr>
				{/foreach}
				
				
			</table>
			<div class="backlog">待办工作</div>
			<table class="aa" style="text-align: center;" border='1px' width="1000px">
				<tr bgcolor="#31869b" align="center" style="color: #fff;font-size: 12px;">
					<th width="50px">序号</th>
					<th width="150px">开始时间</th>
					<th width="300px">任务名称</th>
					<th width="150px">要求完成时间</th>
					<th width="250px">备注</th>
					<th ></th>
					<th ></th>
				</tr>
				{foreach $daibanwork as $key=>$val}
				<tr>
					<td> {$key+1}</td>
					<td >{$val.time|date="Y-m-d  H:i:s",###}</td>
					<td >{$val.work_name}</td>
					<td >{$val.lasttime|date="Y-m-d  H:i:s",###}</td>
					<td >任务类别：{$val.work_rank}</td>
					<td ></td>
					<td ></td>
				</tr>
				{/foreach}
			</table>
				</div>
			
			</div>
			{/if}
			<!-- 非学生身份管理作业 -->
			{if $userdata.user_cate=='老板'}
			<ul class="list_top">
				<li><a href="{:url('arrange')}"><span class="glyphicon glyphicon-list"></span>布置任务</a></li>
				
				<li style="width: 0%;">
					
					 	<div class="input-group pull-left">
					 		<input type="text" class="form-control pull-left" placeholder="输入任务名称" id="selectinfo">
					 	</div>
					 	<button class="btn btn-group pull-left" style="cursor: pointer;width: 70px;height: 35px; outline: none;" @click="select" >搜索</button>  
					 
				</li>
			</ul>
            
				<a class="btn btn-default" style="background-color: #7BB0DE" href="{:url('index')}">待我处理({$work_listnu})</a>
				<a class="btn btn-default" href="{:url('wfb')}">我发布的任务({$work_listnu})</a>
				<a class="btn btn-default" href="{:url('yjs')}">已结束的任务({$unfinish_listnu})</a>						
			<table  class="table" style="text-align: center;"  >
				<tr>
					<th>排序</th>
					<th>编号ID</th>
					<th>对接人</th>
					<th>任务名称</th>					
					<th>附件</th>
					<th>部门</th>
					<th>添加时间</th>
					<th>截止时间</th>
					<th>任务级别</th>
					<th>状态</th>
					<th>详情</th>
				</tr>
				
				{foreach $work_list as $key=>$info}
					<tr >
						<td>50</td>
						<td>{$info.id}</td>
						
						<td>{$info.execute_id}</td>
						<td>{$info.work_name}</td>
						
						{if $info.work_file!=""}
						<td><a href="__UPLOADS__{$info.work_file}">点击查看</a></td>
						{/if}
						{if $info.work_file==""}
						<td>无</td>
						{/if}
						<td></td>
						<td>{$info.time|date="Y-m-d  H:i:s",###}</td>
						<td>{$info.lasttime|date="Y-m-d  H:i:s",###}</td>
						<td>{$info.work_rank}</td>
						{if $info.state=="1"}
						<td>已发布待查阅</td>
						{/if}
						{if $info.state=="2"}
						<td>已查阅</td>
						{/if}
						{if $info.state=="3"}
						<td>发起人已放弃</td>
						{/if}
						{if $info.state=="4"}
						<td>任务已完成</td>
						{/if}
						
						<td><a class="btn btn-default" href="{:url('check',['id'=>$info.id])}">详情</a></td>
					</tr>			
				{/foreach}				
			</table>		
			<div  style="text-align: center;">{$work_list->render()}</div>
			

			
			
			<ul class="list_bottom">
				<li><a href="{:url('look')}"><span class="glyphicon glyphicon-folder-open"></span>查看提交情况</a></li>
			</ul>
			{/if}

			{if $userdata.user_cate=='经理'}
			<ul class="list_top">
				<li><a href="{:url('arrange')}"><span class="glyphicon glyphicon-list"></span>布置任务</a></li>
				<li><a href="{:url('read')}"><span class="glyphicon glyphicon-list"></span>查看任务</a></li>
				<li style="width: 0%;">
					 <form action="{:url('index')}" class="form">
					 	<div class="input-group pull-left">
					 		<input type="text" class="form-control pull-left" placeholder="输入员工名称" name="user_name">
					 	</div>
					 	<input type="submit" class="btn btn-group pull-left" style="cursor: pointer;" value="搜索">
					 </form>
				</li>
			</ul>
			<table class="table" style="text-align: center;">
				<tr>
					<th>编号ID</th>
					<th>员工</th>
					<th>名称</th>
					<th>内容</th>
					<th>附件</th>
					<th>部门</th>
					<th>添加时间</th>
					<th>回复</th>
					<th>操作</th>
				</tr>
				{foreach $work_list as $info}
					<tr >
						<td>{$info.id}</td>
						{foreach $user_list as $user}
						{if $user.id==$info.u_id}	
						<td>{$user.user_name}</td>
						{/if}
						{/foreach}	
						<td>{$info.title}</td>
						<td>{$info.content}</td>
						{if $info.work!=""}
						<td><a href="__UPLOADS__<td>{$info.bumen}</td>{$info.work}">点击查看</a></td>
						{/if}
						{if $info.work==""}
						<td>无</td>
						{/if}
                        <td>{$info.bumen}</td>
						<td>{$info.time}</td>
						<td>{$info.reply}</td>
						<td><a class="btn btn-default" href="{:url('check',['id'=>$info.id])}">批改</a></td>
					</tr>			
				{/foreach}
			</table>
			
			{$work_list->render()}
			<ul class="list_bottom">
				<li><a href="{:url('look')}"><span class="glyphicon glyphicon-folder-open"></span>查看提交情况</a></li>
				<li><a href="javascript:;"><span class="glyphicon glyphicon-list"></span>汇总</a></li>
				<li><a href="javascript:;"><span class="glyphicon glyphicon-download-alt"></span>作业导出</a></li>
			</ul>
			{/if}

			{/foreach}
		</div>
	</div>
	<div class="task_right"></div>
</div>
{include file="foot"}

<script>
 	// 第二步：定义路由，也就是每个路由应该映射一个组件
 	
	new Vue({
        el: ".task",
        data: {
        	
            worksheet:{$yuangong}, 
            primary : {$main},
            worklist:[{$work_list}],
            fine:{$fine},
            secondary:[],
            zongshu:{$zongshu},
            
          	DATE:'{$date}'
        },
        mounted(){
        	console.log(this.DATE)	
        	console.log(this.worksheet);
        	if(this.worksheet.length<8){
        		var num=8-this.worksheet.length;
        		for (var i = 0; i < num; i++) {
        			this.worksheet.push({});
        		}
        		
        		
        	}
        	for (var i = 0; i < this.worksheet.length; i++) {
        	this.secondary.push([])
            
        	this.worksheet[i].primary=JSON.parse(this.worksheet[i].primary);
        	this.worksheet[i].secondary=JSON.parse(this.worksheet[i].secondary);
        		for (var a = 0; a < this.fine.length; a++) {
        	     if(this.worksheet[i].primary.id==this.fine[a].main){
          				this.secondary[i].push(this.fine[a])
        			}
        	    }
        	   
        		
        	}
   
        	console.log(this.secondary);
        	console.log(this.worksheet);
         			
		},
       	
     methods:{
     	
     	aa(){
     		console.log(this.DATE)
     	},
     	select(){

     		var selinfo = $('#selectinfo').val();
     		if(selinfo){
     			window.location.href="select.html?info="+selinfo;
     		}else{
     			return false;
     		}
            
     	},
     	// 添加
     	add(){
     		console.log(this.aa)
     		// this.worksheet.push({primary:{$main},secondary:[]})
     		$.get('{:url("admin/task/classify")}',
        	    	{select:0,},(rtnData)=>{
        	    		
                 	   this.worksheet.push(rtnData)
                 	   	console.log(this.worksheet)
     			});
     	},
        // 主分类
        zhuclassify(e){
     		console.log(this.worksheet[e].primary)
        	    $.get('{:url("admin/task/classify")}',
        	    	{
	
	        	    	select:1,
	        	    	theme_id:this.worksheet[e].id,
	        	    	xuan:this.worksheet[e].primary.id,
	        	    	type:this.worksheet[e].primary.type
        	    	},(rtnData)=>{     
        	    	
        	    			console.log(rtnData)
        	    			if(rtnData!=='false'){
        	    				console.log(1)
        	    			rtnData.primary=JSON.parse(rtnData.primary)
        	    			console.log(rtnData)
        	    				this.worksheet[e]=rtnData
        	    			}
        	    			

        	    			var text=[];
        	    			 for (var a = 0; a < this.fine.length; a++) {
			        	     	if(this.worksheet[e].primary.id==this.fine[a].main){
			          				text.push(this.fine[a])
			        				this.$set(this.secondary,e,text);
			        				}
        	     }
        	    			console.log(this.worksheet);
        	    			
     			});
        },
        // 细分类
        ciclassify(e){ 
        	console.log(this.worksheet[e].id);
        	$.get('{:url("admin/task/classify")}',
        	    	{      	    		
        	    		select:2,
        	    		theme_id:this.worksheet[e].id,
        	    		xuan:this.worksheet[e].secondary,
						
        	    	},(rtnData)=>{
                 	   
				          this.worksheet[e].score=rtnData;
        	    			 // this.$set(this.quantity,e,rtnData) 

     			});

 
        },
        // 时间/数量
        liang(e){
        	console.log(this.worksheet[e].quantity);
        	$.get('{:url("admin/task/classify")}',
        	    	{
        	    		
        	    		select:3,
        	    		theme_id:this.worksheet[e].id,
        	    		liang:this.worksheet[e].quantity
        	    	},(rtnData)=>{
                 	   this.worksheet[e].score=rtnData;
        	    	});
        },
        // 工作内容
        job(e){
        		$.get('{:url("admin/task/classify")}',
        	    	{
        	    		
        	    		select:4,
        	    		theme_id:this.worksheet[e].id,
        	    		job:this.worksheet[e].job
        	    	},(rtnData)=>{
        	    		if(!rtnData){
        	    				console.log(1)
        	    				this.worksheet[e]=rtnData
        	    			}
        	    	});
        },
        // 是否完成
        whether(e){
        		$.get('{:url("admin/task/classify")}',
        	    	{
        	    		
        	    		select:5,
        	    		theme_id:this.worksheet[e].id,
        	    		whether:this.worksheet[e].whether
        	    	},(rtnData)=>{
        	    		this.zongshu=rtnData
        	    	});
        },
        //未完成原因 
        reasons(e){
 				$.get('{:url("admin/task/classify")}',
        	    	{
        	    		
        	    		select:6,
        	    		theme_id:this.worksheet[e].id,
        	    		reasons:this.worksheet[e].reasons
        	    	},(rtnData)=>{
        	    		if(!rtnData){
        	    				console.log(1)
        	    				this.worksheet[e]=rtnData
        	    			}
        	    	});
        },
        // 备注
         remark(e){
         			$.get('{:url("admin/task/classify")}',
        	    	{
        	    		
        	    		select:7,
        	    		theme_id:this.worksheet[e].id,
        	    		remark:this.worksheet[e].remark
        	    	},(rtnData)=>{
        	    		if(!rtnData){
        	    				console.log(1)
        	    				this.worksheet[e]=rtnData
        	    			}
        	    	});
        },
        // 统计分数
         score(e){
			$.get('{:url("admin/task/classify")}',
   	    			{
       	    		
      	    		select:8,
      	    		theme_id:this.worksheet[e].id,
       	    		score:this.worksheet[e].score
        	    	});
        },
        viewDetails:function(e){
			window.location.href='{:url('check',['id'=>24])}'
        }
        	
         

        }         
    })
</script>
<style>

</style>