{include file="top"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/task/css/index.css?3">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/task/css/look.css?3">

<div class="container" id="container">
	<div class="title" style="margin: 10px 30px;">
		<a href=" {:url('index')}" class="glyphicon glyphicon-chevron-left return">返回工作台</a>
	</div>

<div class="table_box">
				<div class="Employee_box">
					<div class="Employee_left">
						
						<div class="Employee_head">工作表</div>
						<div class="wire"></div>
						<div class="Employee_footer">
							<div>
								<span>负责人:</span>
								
									<select  style="width: 150px" v-model='xzheyuangong_id' @change='xzheyuangong'>
										<option  v-for="(i,g) in yuangong" :value="i.id">{{i.user_name}}</option>
									</select>
								
							</div>
							<div><span>日期:</span><input type="date" v-model='DATE' style="width: 150px" @change='xzheyuangong'></div>
							
						</div>

					</div>
					<div class="Employee_right">
						<div class="font">完成情况</div>
						<div class="Score"><div class="fens"><div class="se" :style="'height:'+zongshu+'%'"></div><div class="fen">{{zongshu}}分</div></div></div>
						
					</div>
					<table class="aa" style="text-align: center;" border='1px' width="1000px">
				<tr bgcolor="#0E59B6" align="center" style="color: #fff;font-size: 12px;">
				 
					<th width="50px">序号</th>
					<th width="100px">主分类</th>
					<th width="100px">细分类</th>
					<th width="60px">数量/时间</th>
					<th width="200px">工作内容</th>
					<th width="50px"></th>
					<th width="50px">是否完成</th>
					<th width="150px">未完成原因</th>
					<th width="150px">备注</th>
					<th width="100px">统计分数</th>
					<th width="50px">操作</th>
				
				</tr>
				

				<tr :bgcolor="index%2 ==0?'':'#fff'" v-for='(item,index) in worksheet'>
				  
					<td>
					  {{index+1}}
					</td>
					<td :style="index%2 ==0?'background: #b7dee8;':''" >
						<div v-if='item.primary'>{{item.primary.type}}</div>
					  
					  
					</td>
					<td>
						<div v-if='item.secondary'>{{item.secondary.type}}</div>
						
					</td>
					<td >
						
						{{item.quantity}}
						 
					</td>
					<td :style="index%2 ==0?'background: #b7dee8;':''" >
						{{item.job}}
						
						
					</td>

					<td></td>
					<td>
						  <div v-if="item.whether==0" :style="index%2 ==0?'background: #b7dee8;':''">是</div>
						  <div v-else :style="index%2 ==0?'background: #b7dee8;':''">否</div>
					  </select>
					</td>
					<td>
						 {{item.reasons}}
						
					<td>
						{{item.remark}}
						

					</td>
					<td><div :style="index%2 ==0?'background: #b7dee8;':''" >{{item.score}}</td>
					<td>
						<a @click='viewDetails(item.boss_rwid,index)' v-if='item.boss_rwid' style="cursor: pointer;">查看详情</a>
						<a @click='viewDetails(item.id,index)'  v-else style="cursor: pointer;">查看详情</a>
					</td>
					
				</tr>
				
				
				
			</table>


<script>
	new Vue({
    el: ".table_box",
    data: {
        worksheet:[],
        yuangong:{$yuangong},
        zongshu:0,
        xzheyuangong_id:'',
        DATE:'{$date}'
    },
    
mounted(){
	console.log(this.yuangong);
},
       	
     methods:{
 
     	
     
     	xzheyuangong(){
     			$.get('{:url("admin/task/lookyuangong")}',
        	    	{
        	    		yuangong_id:this.xzheyuangong_id,
        	    		selectDate:this.DATE,},
        	    		(rtnData)=>{
        	    			    this.zongshu=rtnData.zongshu;
                     			this.worksheet=rtnData.data;
     					});
     	},
     	  viewDetails: function(e,index) {
        	if(this.worksheet[index].boss_id){
        		window.location.href = 'check.html?id=' + e
        	}else{
        		window.location.href = 'check.html?staff_id=' + e
        	}
            
        }



    }
})
 
</script>